.home-container {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 60vh;
}

.bgclothing {
  width: 756px;
  height: 330px;
  border-radius: 5px;
  
}

.title h1 {
  font-size: 50px;
}
.title p {
  font-size: 25px;
}

.button-group {
  display: flex;
  /* justify-content: center; */
}
.button-group button {
  border-radius: 3px;
  
  margin: 5px;
}

.section-two {
  display: flex;
  /* background-color: beige; */
  height: 80vh;

  /* margin-top: 15px; */
  /* justify-content: space-between; */
}

.section-two div {
  padding: 10px;
  /* width: 50%; */
}

.section-description {
  font-size: 20px;
}

.section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */

  height: 80vh;
  margin: 10rem auto 8.1rem auto;
  text-align: center;
  width: fit-content;

  /* margin-top: 15px; */
  /* justify-content: space-between; */
}

.join-desc {
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  background: rgb(226, 236, 234);
  padding: 20px;
  min-height: fit-content;
}
